.DS_Store
node_modules
/dist


# local env cloudFiles
.env.local
.env.*.local

# Log cloudFiles
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and cloudFiles
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
